*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@media only screen and (min-width:320px)  and (max-width: 321px) {
    tr{
        display: flex;
        flex-direction: column;
    }
};