*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#landing{
    background: url(./images/photo-1561501900-3701fa6a0864.jfif),
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-blend-mode: overlay;
    background-size: cover;
    
}
#footer{
    margin-top: 10%;
    padding-bottom: 20px;
}
#mainHead{
    padding-top: 30%;
    color: white;
}
#mainpar{
    color: white;
}
#form1{
    margin-left: 10px;
}
